body {
  display: flex;
  justify-content: center; /* وسط چین افقی */
  align-items: flex-start; /* بالای صفحه */
  height: 100vh; /* ارتفاع کل صفحه */
  margin: 0; /* حذف مارجین پیشفرض */
}

div {
  background-color: lightgrey;
  width: 600px;
  border: 15px solid #4c91af;
  padding: 50px;
  margin-top: 0; /* مطمئن شو فاصله بالا نداره */
  /* حذف سایر margin */
}


select {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid rgb(0, 119, 128);
  padding: 50px;
  margin: 20px;
  margin: 2px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0a8491;
  border-radius: 4px;
  box-sizing: border-box;
}

option {
background-color: lightgrey;
  width: 500px;
  border: 10px solid rgb(0, 119, 128);
  padding: 5px;
  margin: 10px;
  margin: 2px;
  text-align: center;
}

input[type=submit] {
  width: 100%;
  background-color: #4c91af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

ul {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #4c91af;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error_box {
  width: 100%;
  background-color: #d34127;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

span{
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #232424;
}

input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}