<!DOCTYPE html>
<html>
    <head>
        <title>افزودن بیمارستان</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <div>
        <form action="{{url_for('addform')}}" method="post" enctype="multipart/form-data">
            <span>
            فرم افزودن بیمارستان
           </span><hr>
            <label for="name">نام بیمارستان</label>
            <input type="text" id="name" name="name">
            <label for="id">شناسه ثبت بیمارستان</label><br>
            <input type="number" id="id" name="id"><br>
            <label for="address">آدرس بیمارستان</label><br>
            <textarea name="address" id="address" cols="79" rows="5"></textarea>
            <input type="submit" value="ثبت">
            {% if send %}
    <p style="color: green;">با موفقیت ارسال شد</p>
{% endif %}
            {%if errors%}
            <ul class="error_box">
                {%for error in errors%}
                <li>{{error}}</li>
                {%endfor%}
            </ul>
            {%endif%}
        </form>
        </div>
    </body>
</html>