<!DOCTYPE html>
<html>
  <head>
    <title>ارسال رزومه بیمارستانی</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
<div >
  {%if error%}
      <ul class="error_box">
        {%for error in error%}
        <li>{{error}}</li>
        {%endfor%}
      </ul>
      {%endif%}
  <h1 style="text-align: center;">سیستم ارسال و درخواست ثبت رزومه و بیمارستان</h1>
    <form  method="post" action="{{url_for('select')}}">
        <select id="hospitals" name="HospitalsName" multiple>
          <option value="بیمارستان طالقانی">بیمارستان طالقانی</option>
          <option value="بیمارستان لاله">بیمارستان لاله</option>
          <option value="بیمارستان ابن سینا">بیمارستان ابن سینا</option>
          <option value="بیمارستان رازی">بیمارستان رازی</option>
          {%for hos in hospitals%}
          <option value="{{hos}}">{{hos}}</option>
          {%endfor%}
        </select>
        <input type="submit" value="ارسال رزومه"/>
    </form>
    <form action="{{url_for('AddHospital')}}" method="get">
      <input type="submit" value="افزودن بیمارستان">
    </form>
    <form action="{{url_for('registerpage')}}" method="get">
      <input type="submit" value="ثبت نام / ورود">
    </form>
</div>
  </body>
</html>
